/* Add this to your CSS file or style block */
* {
  font-size: 14px;
}
body {
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}
.card-body {
  background: #000000c4;
  color: white;
  padding:5px
}
.userlist h2 {
  text-align: center;
  padding: 10px;
  color: black;
  font-family:'Times New Roman', Times, serif
}
.card-title {
  text-align: center;
  font-family: 'roboto';
  height: 40px;
  padding-top: 10px;
}
